html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
    
}

#header-content{
    display: flex;
  align-items: center;
  padding: 1.875em;
  justify-content: space-between;
  
   
}



nav ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    
}

nav ul li{padding-left: 3rem;
    font-weight: bold;
    
}

main, footer{
    padding: 1.875rem;
}

#intro{
    padding-bottom: 1.875rem;
}

#intro h2{
    padding-bottom: 2rem;
}
img{
    width: 50%;
    
}

#projects h2{
    padding-bottom: 2rem;
}
#projects li{
    padding: 2rem;
    font-weight: bold;
}

#projects li p{
    padding: 2rem;
    font-weight: bold;
}