html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
    
}

#header-content{
    display: flex;
  align-items: center;
  padding: 1.875em;
  
  
   
}

nav{
    justify-self: flex-end;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    
}

nav ul li{padding-left: 3rem;
    font-weight: bold;
    
}
